Package: dhosts
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: awk, grep
Maintainer: pancake@nopcode.org
Description: Update /etc/hosts based on dhosts
 Dynamically update host-ip database based on MAC addresses found in LAN.
